# Entorno Virtual
venv/

# Base de datos de desarrollo
db.sqlite3

# Archivos de cache de Python
__pycache__/
*.pyc

# Archivos del sistema operativo
.DS_Store

# Archivos del editor de código
.vscode/
.idea/

# Archivos de media ssubidos por usuarios
media/

# Archivos estáticos generados por collectstatic
staticfiles/

# Archivos de entorno
.env

# Archivos de Logs
*.log