--
-- Add field celular to profesional
--
ALTER TABLE "GESTION_PROFESIONAL" ADD "CELULAR" NVARCHAR2(20) NULL;
--
-- Add field direccion to profesional
--
ALTER TABLE "GESTION_PROFESIONAL" ADD "DIRECCION" NVARCHAR2(255) NULL;
--
-- Alter field fecha_nacimiento on paciente
--
ALTER TABLE "GESTION_PACIENTE" MODIFY "FECHA_NACIMIENTO" DEFAULT '1900-01-01';
UPDATE "GESTION_PACIENTE" SET "FECHA_NACIMIENTO" = '1900-01-01' WHERE "FECHA_NACIMIENTO" IS NULL;
ALTER TABLE "GESTION_PACIENTE" MODIFY "FECHA_NACIMIENTO" NOT NULL;
ALTER TABLE "GESTION_PACIENTE" MODIFY "FECHA_NACIMIENTO" DEFAULT NULL;
--
-- Alter field especialidad on profesional
--
ALTER TABLE "GESTION_PROFESIONAL" MODIFY "ESPECIALIDAD" DEFAULT '1900-01-01';
UPDATE "GESTION_PROFESIONAL" SET "ESPECIALIDAD" = '1900-01-01' WHERE "ESPECIALIDAD" IS NULL;
ALTER TABLE "GESTION_PROFESIONAL" MODIFY "ESPECIALIDAD" DEFAULT NULL;
--
-- Delete model Perfil
--
DROP TABLE "GESTION_PERFIL" CASCADE CONSTRAINTS;

            DECLARE
                i INTEGER;
            BEGIN
                SELECT COUNT(1) INTO i FROM USER_SEQUENCES
                    WHERE SEQUENCE_NAME = 'GESTION_PERFIL_SQ';
                IF i = 1 THEN
                    EXECUTE IMMEDIATE 'DROP SEQUENCE "GESTION_PERFIL_SQ"';
                END IF;
            END;
        /;
