{% extends 'base.html' %}
{% load static %}

{% block title %}Profesionales Acreditados - Clínica Bosque Verde{% endblock %}

{% block content %}
<main>
    <section>
        <h1>Profesionales Acreditados</h1>
        {% for p in profesionales %}
        <div class="profesional-card">
            <div class="card-profile">
                <h3>Dr(a). {{ p.usuario.first_name }} {{ p.usuario.last_name }}</h3>
                <img src="{% if p.foto %}{{ p.foto.url }}{% else %}{% static 'assets/images/dr0.jpg' %}{% endif %}" alt="{{ p.usuario.first_name }} {{ p.usuario.last_name }}">
                <a class="button-link" href="{% url 'reservar' %}?profesional={{ p.pk }}">Ver agenda</a>
            </div>
            <div class="card-content">
                <p><b>Especialidad:</b> {{ p.especialidad }}</p>
                <p><b>Email:</b> {{ p.usuario.email }}</p>
                {% if p.direccion %}<p><b>Dirección:</b> {{ p.direccion }}</p>{% endif %}
                {% if p.celular %}<p><b>Contacto:</b> {{ p.celular }}</p>{% endif %}
            </div>
        </div>
        {% empty %}
        <div class="alert uf-alert">
            No hay profesionales registrados actualmente.
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}
